* {
    margin: 0;
    max-width: 1400px;
}
.page {
    max-width: 100%;
    font-family: "Inter", Arial, sans-serif, "Noto Serif", 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
}
