.reservation {
    background-color: #D9E7FF;
    background-image: url(/images/background_reservation.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
}

.reservation__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;   
    font-size: 44px;    
    line-height: 52px;
    display: flex;
    justify-content: center;
    margin: 80px auto 40px;
}

.form {
    max-width: 400px;
    margin: 0 auto 80px;
}



.form__fieldset {
    border-color: transparent;
}

.form__label {
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
}

.form__input {
    border-radius: 4px;
    font-family: inherit;
    box-sizing: border-box;
    width: 100%;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
height: 60px;
margin: 8px 0 32px 0;
padding: 10px 15px;
}

.form__input::placeholder {
    padding: 15px 20px;
    margin: 0;
}

.form__button {
    border-radius: 4px;
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
width: 385px;
height: 60px;
margin: 0 0 32px 0;
background-color: #2f80ed;
color: #ffffff;
}


.form__button:hover {
    opacity: .3;
}

.form__checkbox {
    border-radius: 2px;
    background-color: #2F80ED;
    background-image: url(/images/check.svg);
    width: 20px;
    height: 20px;
}

.form__label_el_checkbox {
    padding-left: 12px;
}